.SeatLabelBtn {
  margin-left: 40px;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.SeatBtn {
  margin-left: 0px !important;
  display: block;
  height: 30px;
  width: 50px;
  border-radius: 50% !important;
  margin-bottom: 5px !important;
  box-shadow: 0 9px rgb(215, 215, 241);
}

table,
th,
td {
  text-align: center;
}
th,
td {
  padding: 10px;
  background-color: none;
}
