.ButtonGroup {
  background: transparent;
  color: white !important;
  border: none;
  font-size: 105% !important;
}

.ButtonGroup:hover {
  text-decoration: underline !important;
}

.Profileimg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #f5f5f5;
}
