table,
th,
td {
  text-align: right;
}
th,
td {
  padding: 10px;
  background-color: none;
}
.Seatbtn {
  margin-left: 40px !important;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50% !important;
}
